<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Administrador</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		.badge {
			position: relative;
			bottom: 20px;
			right: -20px;
			padding: -3px 0px;
			border-radius: 50%;
			background-color: red;
			color: white;
		}
	</style>
</head>

<body>

	<!-- {% extends "base.html.twig" %}

{% block title %}Administrador{% endblock %}

{% block head %}

	{% block stylesheets %}
        <link href="{{ asset('css/app.scss') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% endblock %}

{% block body %} -->
	<header>
		<nav class="navbar navbar-dark" style="height:70px; background-color: #00A2FF;">
			<div class="ml-5">
				<div style="margin-left: 140px;">
					<a class="navbar-brand" href="#">ExChange</a>
				</div>
			</div>
			<div class="mr-5">
				<div style="margin-right: 140px;">
					<div class="container">
						<div class="row">
							<div class="col-sm">
								<div
									style="height:50px; width:100px; border:3px solid white; border-radius:10px; text-align: right; background-color: white">
									<span
										style="color: #00A2FF; padding-inline-end: 20px; bottom: 12px; right: 10px; position: absolute;">300</span>
								</div>
							</div>
							<div class="col-sm">
								<button class="btn" type="button" style="cursor:context-menu" id="btnclr"><i
										class="fas fa-money-bill fa-2x" style="color:white;top:20px;"></i></button>
							</div>
							<div class="col-sm">
								<div class="dropdown">
									<button class="btn" type="button" id="btnclr"><a href="#">
											<div><i class="far fa-envelope fa-2x " style="color:white;"></i><span
													class="badge">1</span></div>
										</a></button>
								</div>
							</div>
							<div class="col-sm">
								<div class="dropdown">
									<button class="btn" type="button" data-toggle="dropdown" id="btnclr"><i
											class="far fa-user fa-2x" style="color: white;"></i>
									</button>
									<ul class="dropdown-menu">
										<li><a href="/logout">Cerrar Sesion</a></li>
										<li><a href="#">Ajustes</a></li>
										<li><a href="#">Algo mas XD</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</nav>
	</header>

	<h1>Hola {{correo}}, ¿qué quieres ver?</h1>

	<table>

		<tr>
			<td><input type="button" id="botonComentarios" value="Mostrar comentarios sin responder"
					class="btn btn-outline-primary"></input></td>
			<td><input type="button" id="botonComentariosRespondidos" value="Mostrar comentarios respondidos"
					class="btn btn-outline-primary"></input>
			</td>
			<td><a href="/admin"> <input type="button" id="editarPerfil" value="Editar perfil de usuarios"
						class="btn btn-outline-primary"></input></a></td>
			<td><input type="button" id="habilitarCiudad" value="Habilitar ciudad"
					class="btn btn-outline-primary"></input>
			</td>
		</tr>

	</table>

	<div id="div1">
		Los comentarios sin responder son
		<table>

			{% for comment in comments %}

			<tr>
				<td><strong>Correo:</strong></td>

				<td>{{comment.correo}}</td>
			</tr>
			<tr>
				<td><strong>Comentario:</strong></td>

				<td>{{comment.text}}</td>
			</tr>
			<tr>
				<td>¿Responder?</td>
				<td>
					<form action="/responderComentario" method="POST" id="formRespuesta">
						<input type="hidden" name="validar" value="{{comment.id}}">
						<textarea rows="4" cols="50" name="respuesta" value="" id="respuesta"
							class="form-control"></textarea></textarea>
						<input type="submit" name="actualiarPeticion{{comment.id}}" value="Anotar en respondidos"
							class="btn btn-primary">
					</form>
				</td>
			</tr>
			<tr>
				<td><br><br></td>
			</tr>
			{% endfor %}

		</table>

	</div>

	<div id="div2">
		Los comentarios respondidos son
		<table>

			{% for commentAnswered in commentsAnswered %}

			<tr>
				<td><strong>Correo</strong></td>

				<td>{{commentAnswered.correo}}</td>
			</tr>
			<tr>
				<td><strong>Comentario</strong></td>

				<td>{{commentAnswered.text}}</td>
			</tr>
			<tr>
				<td><strong>Respuesta dada por el administrador</strong></td>

				<td>{{commentAnswered.answer}}</td>
			</tr>
			{% endfor %}

		</table>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>




	<footer class="page-footer font-small unique-color-dark">

		<div style="background-color: #00A2FF;">
			<div class="container">

				<div class="row py-4 d-flex align-items-center">

					<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0">Footer</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container text-center text-md-left mt-5">

			<div class="row mt-3">

				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

					<h6 class="text-uppercase font-weight-bold">ExChange</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>Semoh una empresa pequenia por favor Nacho ponnos un dies</p>

				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<h6 class="text-uppercase font-weight-bold">Products</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="#!">gjgh</a>
					</p>
					<p>
						<a href="#!">jhgjs</a>
					</p>
					<p>
						<a href="#!">fghfghw</a>
					</p>
					<p>
						<a href="#!">ghfghf</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<h6 class="text-uppercase font-weight-bold">ghfs</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<a href="#!">Yghfgt</a>
					</p>
					<p>
						<a href="#!">dghfcdvb</a>
					</p>
					<p>
						<a href="#!">gfdgf</a>
					</p>
					<p>
						<a href="#!">gfdgfd</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<h6 class="text-uppercase font-weight-bold">Contacto</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<i class="fas fa-home mr-3"></i> Granada, Andalucia, ESPAÑA</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> exchange@exchange.com</p>
					<p>
						<i class="fas fa-phone mr-3"></i> 958 958 958 </p>

				</div>

			</div>

		</div>
		<div class="footer-copyright text-center py-3">© 2018 Copyright:
			<a href="#"> ExChange</a>
		</div>
	</footer>
	<!--     {% block javascripts %} -->

	<script>

		$(function () {

			$("#div1").hide();
			$("#div2").hide();

			$("#botonComentarios").unbind('click');
			$("#botonComentarios").click(function () {
				$("#div2").hide();
				$("#div1").toggle();
			});

			$("#botonComentariosRespondidos").unbind('click');
			$("#botonComentariosRespondidos").click(function () {
				$("#div1").hide();
				$("#div2").toggle();
			});

			$("#formRespuesta").on("submit", validacion);

			function validacion() {

				var enviar = true;

				if ($("textarea[name=respuesta]").val() == "")
					enviar = false;

				return enviar;
			}
		});

	</script>

	<!-- 	{% endblock %}

{% endblock %} -->

</body>

</html>