<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Administrador</title>
</head>
<body>

<!-- {% extends "base.html.twig" %}

{% block title %}Administrador{% endblock %}

{% block head %}

	{% block stylesheets %}
        <link href="{{ asset('css/app.scss') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% endblock %}

{% block body %} -->
    
    <h1>Hola {{correo}}, ¿qué quieres ver?</h1>

	<table>

		<tr><td><input type="button" id="botonComentarios" value="Mostrar comentarios sin responder"></input></td>
		<td><input type="button" id="botonComentariosRespondidos" value="Mostrar comentarios respondidos"></input></td>
		<td><input type="button" id="editarPerfil" value="Editar perfil de usuarios"></input></td>
		<td><input type="button" id="generarCategoria" value="Generar categoría"></input></td>
		<td><input type="button" id="habilitarCiudad" value="Habilitar ciudad"></input></td></tr>

	</table>

	<div id="div1">
		Los comentarios sin responder son
			<table>

			     {% for comment in comments %}

			    	<tr>
			    		<td><strong>Correo:</strong></td>

			        	<td>{{comment.correo}}</td>
			        </tr>
			        <tr>
			    		<td><strong>Comentario:</strong></td>

			        	<td>{{comment.text}}</td>
			        </tr>
			        <tr>
	    		<td>¿Responder?</td>
	    		<td>
				<form action="/responderComentario" method="POST" id="formRespuesta">
					<input type="hidden" name="validar" value="{{comment.id}}">
					<textarea rows="4" cols="50" name="respuesta" value="" id="respuesta"></textarea>
					<input type="submit" name="actualiarPeticion{{comment.id}}" value="Anotar en respondidos">
				</form>
	        	</td>
	        	</tr>
	        <tr><td><br><br></td></tr>
			    {% endfor %}

			</table>

	</div>

	<div id="div2">
		Los comentarios respondidos son
			<table>

			     {% for commentAnswered in commentsAnswered %}

			    	<tr>
			    		<td><strong>Correo</strong></td>

			        	<td>{{commentAnswered.correo}}</td>
			        </tr>
			        <tr>
			    		<td><strong>Comentario</strong></td>

			        	<td>{{commentAnswered.text}}</td>
			        </tr>
			        <tr>
			    		<td><strong>Respuesta dada por el administrador</strong></td>

			        	<td>{{commentAnswered.answer}}</td>
			        </tr>
			    {% endfor %}

			</table>

	</div>

    <form action="/logout">

        <input type="submit" name="logout" value="logout">
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>

<!--     {% block javascripts %} -->

    	<script>

    		$(function(){

	    		$("div").hide();

	    		$("#botonComentarios").unbind('click');
	    		$("#botonComentarios").click(function(){
	    			$("#div2").hide();
    				$("#div1").toggle();
	    		});

	    		$("#botonComentariosRespondidos").unbind('click');
	    		$("#botonComentariosRespondidos").click(function(){
	    			$("#div1").hide();
    				$("#div2").toggle();
	    		});

	    		$("#formRespuesta").on("submit", validacion);

	            function validacion(){

	                var enviar = true;

	                if($("textarea[name=respuesta]").val() == "")
	                    enviar = false;

	                return enviar;
	            }
	    	});

	    </script>

<!-- 	{% endblock %}

{% endblock %} -->

</body>
</html>


