<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ExChange!{% endblock %}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="images/logo/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/logo/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/logo/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/logo/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/logo/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/logo/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/logo/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/logo/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/logo/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/logo/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/logo/favicon-16x16.png">
        <link rel="manifest" href="images/logo/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/logo/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        {% block stylesheets %}{% endblock %}
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                background-image: url("https://www.photoshopfreebrushes.com/wp-content/uploads/2015/08/subtle-web-background-5.jpg");
                height: 100vh;
            }
            .carousel-inner img {
                width: 100%;
                height: 450px;
            }
            #btnclr {
                background-color: #00A2FF;
            }
            .badge {
                position:absolute !important;
                top: 3px !important;
                bottom: 26px;
                right: 5px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }
            #login .container #login-row #login-column #login-box {
                margin-top: 120px;
                max-width: 600px;
                height: auto;
                border: 1px solid #9C9C9C;
                background-color: #EAEAEA;
            }
            #register .containerR #register-row #register-column #register-box {
                margin-top: 120px;
                max-width: 600px;
                height: auto;
                border: 1px solid #9C9C9C;
                background-color: #EAEAEA;
            }
            #login #register .container .containerR #login-row #register-row #login-column #register-column #login-box #register-box #login-form #register-form {
                 padding: 20px;
            }
            #login #register .container .containerR #login-row #register-row #login-column #register-column #login-box #register-box #login-form #register-form #register-link {
                margin-top: -85px;
            }
            @media(min-width: 768px) {
                .field-label-responsive {
                    padding-top: .5rem;
                    text-align: right;
                }
            }
        </style>
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>