<html>
    <head>
        <title>Buscador</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Log out</button>
                </div>
            </nav>
            </div>
            <div class="jumbotron text-center">
                <img src="img/logo.png" class="rounded-circle" alt="logo" width="200" height="200">
                <h1>BUSCA AQUÍ TU SERVICIO</h1>
                <form action="#" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="servicio" placeholder="Servicio" name="servicio">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar Servicio</button>
                </form> 
        </header>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6" style="background-color:rgb(177, 241, 238);">
                        <img src="img/peluquero.gif" alt="peluquero" width="170" style="float: left; margin-left: 150px"> 
                        <div style="margin-top: 15px">
                            Nombre: Pepe<br>
                            Servicio: Peluquería<br>
                            Tiempo: 30 min
                        </div>
                    </div>
                    <div class="col-sm-6" style="background-color:rgb(177, 241, 238);">
                        <img src="img/jardinero.png" alt="jardinero" width="100" style="float: left; margin-left: 150px">
                        <div style="margin-top: 15px">
                            Nombre: Ramón<br>
                            Servicio: Jardinería<br>
                            Tiempo: 50 min
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>