<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contacto</title>
</head>

<!-- {% extends "base.html.twig" %}

{% block title %}Contacto{% endblock %}

{% block head %}

    {% block stylesheets %}
        <link href="{{ asset('css/app.scss') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% endblock %}

{% block body %} -->

<body>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1>Bienvenido a la página de contacto</h1>
        <table>
            <tr>
                <td>
                    Teléfono: xxx-xxx-xxx
                </td>
            </tr>
            <tr>
                <td>
                    Dirección: Calle falsa 1234
                </td>
            </tr>
            <tr>
                <td>
                    Correo electrónico: exchangecorreo@servicios.com
                </td>
            </tr>

            <form action="/tratarContacto" method="POST" id="formComentario">
            <tr><td><label for="email">Correo electrónico</label><input type="email" name="email" value=""></td></tr>
            <tr><td><label for="comentario">Escríbenos aquí tu duda o comentario</label></td></tr><tr><td><textarea rows="4" cols="50" name="comentario" val=""></textarea> </td></tr>
            <tr><td><input type="submit" name="enviarComentario" value="Enviar"></td></tr>
            </form>
        </table>
    </div>
  </div>
</div>
    

<!--     {% block javascripts %} -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
            
        $(function(){

            $("#formComentario").on("submit", validacion);

            function validacion(){

                var enviar = true;

                if($("input[name=email]").val() == "")
                    enviar = false;

                if($("textarea[name=comentario]").val() == "")
                    enviar = false;

                return enviar;
            }

        });

    </script>

<!--     {% endblock %}

{% endblock %} -->
</body>
</html>